body {
    background-color: burlywood;
    color: black;
    font-family: "Helvetica" "Times New Roman", sans-serif;
}

h1 {
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.container {
    list-style: none;
    text-align: center;
    font-size: 32px;
}

img {
    width: auto;
    height: auto;
}